
@model LibraryMVC.ViewModel.RegisterViewModel

<div class="row">
    <div class="col-md-6">

        <h2>Registration</h2>
        <hr />
        <form method="post" asp-controller="Account" asp-action="Register">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label><br />
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label><br />
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PasswordConfirm"  class="control-label"></label><br />
                <input asp-for="PasswordConfirm" class="form-control"/>
                <span asp-validation-for="PasswordConfirm" class="text-danger" ></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Реєстрація" class="btn btn-primary" />
            </div>
           
        </form>
    </div>
    <div class="col-md-6">
        <h2>External Login</h2>
        <hr />
        <form method="post" asp-action="ExternalLogins">
            <div>
                @foreach (var provider in Model.ExternalLogins)
                {
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary btn-lg loginbtn" name="provider" value="@provider.Name" style="width:auto"
                                title="Login using your @provider.DisplayName account">
                            Login with @provider.DisplayName
                        </button>
                    </div>
                }
            </div>
        </form>

    </div>
</div>

