@model InsuranceDatabase.BrokersCategories

@{
    ViewData["Title"] = "Create";
}
<!-- <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>-->
<!--<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<!--<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>-->
<hr />
<h4>Додати брокера</h4>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoriesId"></select>
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="ui-widget">
                    <label asp-for="Broker" class="control-label"></label>
                    <!--<select asp-for="BrokerId" class="form-control" asp-items="ViewBag.BrokersId"></select>-->
                    <input type="text" asp-for="BrokerId" id="brokers" data-autocomplete-source="@Url.Action("AutocompleteSearch", "Autocomplete")"/>
                    <span asp-validation-for="BrokerId" class="text-danger"></span>
                </div>
            </div>
            <input type="hidden" value="@ViewBag.CategoryId" name="CategoryId" />
            <div class="form-group">
                <input type="submit" value="Створити" class="btn btn-primary" />
            </div>
</form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@ViewBag.CategoryId">Повернутись</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script type="text/javascript">
    $(function () {
        $("[data-autocomplete-source]").each(function () {
            var target = $(this);
            target.autocomplete({
                source: target.attr("data-autocomplete-source"),
                minLength: 3,
                delay: 1000});
        });
    });
</script>
<!--<script>
    $(document).ready(function () {

        $('#brokers').autocomplete({
            
            source: '/autocomplete',
            /*source: function (request, response) {
                $.getJSON('Url.Action("Autocomplete", "Autocomplete")', function (data) {
                    //let names = [];
                    var brokers = JSON.parse(data);
                    for (let key in brokers) {
                        names += brokers[key][0];
                    }
                    //var names = broker.fullname;
                    $.each(data, function (i, item) {
                        names[i] = item.fullname;
                    });
                    response(names);
                });*/
                
               /* var matcher = new RegExp("^" + $.ui.autocomplete.escapeRegex(request.term), "i");
                response($.grep(names, function (item) {
                    return matcher.test(item);
                }));
            },*/
            /*source: function (request, response) {
                $.getJSON('Url.RouteUrl("api/Brokers/GetBrokers")', function (data) {
                    //$.each(data, function (i, item) { item }
                    response(data['FullName']);
                });
            },*/
            minLength: 3,
            delay: 1000,
            select: function (event, ui) {
                
            }
        });
    });
</script>-->