@model InsuranceDatabase.BrokersCategories

@{
    ViewData["Title"] = "Create";
}

<hr />
<h4>Додати брокера</h4>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoriesId"></select>
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="ui-widget">
                    <label asp-for="Broker" class="control-label"></label>
                    <!--<select asp-for="BrokerId" class="form-control" asp-items="ViewBag.BrokersId"></select>-->
                    <input type="text"  id="brokerName" class="form-control" data-autocomplete-source="@Url.Action("AutocompleteBrokerId", "Autocomplete")"/>
                    <input asp-for="BrokerId" type="hidden" id="autocompleteId"/>
                    <span asp-validation-for="BrokerId" class="text-danger"></span>
                </div>
            </div>
            <input type="hidden" value="@ViewBag.CategoryId" name="CategoryId" />
            <div class="form-group">
                <input type="submit" value="Додати" class="btn btn-primary" />
            </div>
</form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@ViewBag.CategoryId">Повернутись</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="~/js/autocomplete.js"></script>