body {
    background-color: white;
}
#brokerImage {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
    margin-top: auto;
}

.form-group > a {
    margin-left: 5px;
}

table.image-table tbody tr td{
    vertical-align: middle;
}

table.image-table tbody tr td #brokerImage {
    width: 100px;
    margin: 0px;
}