@{
        ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/script.js"></script>
    <meta charset="utf-8">
    <title>slider</title>

</head>
<body>
    <h1 id="title-main-page1" align="center"> Cтрахові послуги онлайн</h1>
    <h4 id="title-main-page4" align="center"> Cтрахові послуги онлайн</h4>
    <hr />

    <div id="box">
        <ul id="images">
            <li id="image1">
                <img id="large_image" style="padding: 0 0 0 8px;" src="~/image/what-is-a-life-insurance-agent-l.jpg">
                <!--<img id="sm_image" style="padding: 0 0 0 8px;" src="~/image/Business-Banner-Resting.jpg">-->
            </li>
            <li id="image3">
                <img id="large_image" style="padding: 0 0 0 8px;" src="~/image/insurance-customer-experience.png">
            </li>
        </ul>
    </div>
    <div id="sm_image">
        <div class="d-flex p-2 bd-highlight justify-content-center">
            <img class="img-fluid" alt="Responsive image" id="sm_image" style="padding: 0 0 0 8px;"
                 src="~/image/Business-Banner-Resting.jpg" />
        </div>
    </div>
    <div id="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2135.3606296738058!2d30.640476449089075!3d50.47115635949718!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4d00a02659d21%3A0x8af88e7bb76dba2e!2z0LLRg9C70LjRhtGPINCc0LjQutC-0LvQuCDQnNCw0YLQtdGO0LrQsCwgMjAsINCa0LjRl9CyLCAwMjAwMA!5e0!3m2!1suk!2sua!4v1601043954057!5m2!1suk!2sua" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
</body>
</html>
