@{
        ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <h1 align="center"> Cтрахові послуги онлайн</h1>
    <hr />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/script.js"></script>
    <meta charset="utf-8">
    <title>slider</title>

</head>
<body>

    <div id="box">
        <ul id="images">
            <li id="image1">
                <img style="padding 0 0 0 8px;" src="~/image/what-is-a-life-insurance-agent-l.jpg">
            </li>
            <li id="image3">
                <img style="padding 0 0 0 8px;" src="~/image/insurance-customer-experience.png">
            </li>
        </ul>
    </div>

</body>
</html>
